<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Senha</title>
</head>

<body>
    <h1>Editar Senha</h1>
    <form id="editarSenhaForm" action="/api/editarSenha" method="POST">
        <label for="oldPassword">Senha Antiga:</label>
        <input type="password" id="oldPassword" name="oldPassword" required>
        <br>
        <label for="newPassword">Nova Senha:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <br>
        <label for="confirmPassword">Confirmar Nova Senha:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br>
        <button type="submit">Salvar Alterações</button>
    </form>
    <script src="../componentes/editaSenha.js"></script>
</body>

</html>
