<!-- usuario.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Usuário</title>
</head>

<body>
    <% if (usuarioAutenticado) { %>
        <h1>Bem-vindo, <span id="nomeUsuario"></span>!</h1>
        <p>Seus detalhes:</p>
        <ul>
            <li><strong>Email:</strong> <span id="emailUsuario"></span></li>
            <!-- Adicione mais informações do usuário conforme necessário -->
        </ul>
        <form action="/api/auth/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <% } else { %>
            <h1>Você não está autenticado</h1>
            <p>Por favor, faça login para acessar esta página.</p>
            <a href="/login">Login</a>
            <% } %>

                <script src="../componentes/usuario.js"></script>
                <script>
                    console.log('Token recuperado:', localStorage.getItem('token'));

                    // Enviar solicitação para a rota /usuario com o token no cabeçalho Authorization
                    fetch('/usuario', {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${localStorage.getItem('token')}`, // Adicione o token ao cabeçalho Authorization
                            'Content-Type': 'application/json'
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                // Se a resposta estiver OK, continue com o processamento
                                return response.json();
                            } else {
                                throw new Error('Erro ao acessar rota /usuario');
                            }
                        })
                        .then(data => {
                            // Manipular os dados recebidos, se necessário
                            console.log('Dados recebidos:', data);
                        })
                        .catch(error => {
                            console.error('Erro:', error);
                        });

                </script>
</body>

</html>